# This is Git's per-user configuration file.
[user]
  name = Charles Eckman
  email = charles@cceckman.com
[alias]
  pullall = "!f(){ git pull \"$@\" && git submodule update --init --recursive && git remote prune origin; }; f"
  par = "!f(){ git pull --rebase=true \"$@\" && git submodule update --init --recursive; }; f"
  co = checkout
  br = branch
  s = status
  h = help
  t = tag -s
  tree = log --graph --format='format:%C(auto)%h %Cblue%G?%C(auto)%d %s' --all
  tr = log --graph --format='format:%C(auto)%h %Cblue%G?%C(auto)%d %s' --all -n 20
  df = diff --name-only
  sha = rev-parse HEAD
  reword = commit --amend
[status]
  showUntrackedFiles = no
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[push]
	default = current
[difftool]
  prompt = false
[gui]
  tabsize = 2
[core]
  excludesfile = ~/.gitignore_global
[commit]
  # gpgsign = true
[credential "https://source.developers.google.com"]
  helper = gcloud.sh
[pull]
	ff = only
[init]
	defaultBranch = main
[maintenance]
	repo = /home/cceckman/r/github.com/Tilde
