# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Charles Eckman
	email = charles@cceckman.com
[alias]
	pullall = "!f(){ git pull \"$@\" && git submodule update --init --recursive; }; f"
[status]
	showUntrackedFiles = no
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[push]
	default = simple
[difftool]
	prompt = false
[gui]
	tabsize = 2
