# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = Charles Eckman
  email = cceckman@google.com
  signingkey = F3C98967
[alias]
  pullall = "!f(){ git pull \"$@\" && git submodule update --init --recursive; }; f"
  co = checkout
  br = branch
  s = status
  h = help
  t = tag -s
[status]
  showUntrackedFiles = no
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[push]
  default = simple
[difftool]
  prompt = false
[gui]
  tabsize = 2
[core]
  excludesfile = ~/.gitignore_global
[commit]
  gpgsign = true
[credential "https://source.developers.google.com"]
	helper = gcloud.sh
