
[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule ".vim/bundle/vim-easytags"]
	path = .vim/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/vim-ft-bzl"]
	path = .vim/bundle/vim-ft-bzl
	url = https://github.com/google/vim-ft-bzl.git
[submodule ".vim/bundle/vim-template"]
	path = .vim/bundle/vim-template
	url = git://github.com/aperezdc/vim-template.git
[submodule "secrets"]
	path = secrets
	url = git@github.com:cceckman/secrets.git
[submodule "include/solarized/xresources"]
	path = include/solarized/xresources
	url = git@github.com:solarized/xresources.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule ".irssi/scripts/scripts.irssi.org"]
	path = .irssi/scripts/scripts.irssi.org
	url = https://github.com/irssi/scripts.irssi.org
[submodule ".vim/bundle/hardmode"]
	path = .vim/bundle/hardmode
	url = git://github.com/wikitopian/hardmode.git
[submodule ".vim/bundle/ScrollColors"]
	path = .vim/bundle/ScrollColors
	url = git://github.com/vim-scripts/ScrollColors
[submodule "solarized/xresources"]
	path = solarized/xresources
	url = git://github.com/solarized/xresources
[submodule ".irssi/irssi-colors-solarized"]
	path = .irssi/irssi-colors-solarized
	url = git://github.com/huyz/irssi-colors-solarized.git
[submodule "rcfiles/bashmarks"]
	path = rcfiles/bashmarks
	url = git://github.com/huyng/bashmarks.git
[submodule "scripts/ssh-ident"]
	path = scripts/ssh-ident
	url = git@github.com:ccontavalli/ssh-ident
[submodule ".vim/bundle/vim-prometheus"]
	path = .vim/bundle/vim-prometheus
	url = https://github.com/bracki/vim-prometheus.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
