#!/bin/sh

# Should be a better conditional;
# check /proc/cpuinfo for 'hypervisor'
if [ -x /usr/bin/VBoxClient-all ]
then
  /usr/bin/VBoxClient-all
fi

xrdb -merge $HOME/.Xresources

xset s 60
xss-lock -l -- $HOME/scripts/lock & disown

# Set background
feh  --bg-fill "$HOME/secrets/wallpaper/_DSC4583.NEF.jpg"

if which redshift  >/dev/null && ! pgrep redshift
then
  nohup redshift -c ~/.config/redshift.conf & disown
fi

if [ -x $HOME/.work.xprofile ]
then
  source $HOME/.work.xprofile
fi

if [ -x "$HOME/secrets/xsetup/$(hostname)" ]
then
  source "$HOME/secrets/xsetup/$(hostname)"
fi
