#!/bin/sh

# Should be a better conditional;
# check /proc/cpuinfo for 'hypervisor'
if [ -x /usr/bin/VBoxClient-all ]
then
  /usr/bin/VBoxClient-all
fi

# Don't believe DPI reporting...or size reporting of the display.
# Use a manual map of hostname to desired DPI, or the default.

CUSTOM_DPI="$($HOME/secrets/dpi.sh)"
if [ "$CUSTOM_DPI" != "" ]
then
 FLAG="-DCUSTOM_DPI=$CUSTOM_DPI"
fi

xrdb "$FLAG" -merge $HOME/.Xresources

xmodmap ~/.xmodmaprc

# Ensure palm detection is enabled for synaptic touchpads.
if which synclient >/dev/null && [ -x $(which synclient) ] && synclient -l 2>/dev/null
then
  synclient PalmDetect=1
  # Additional approach: syndaemon.
  # https://wiki.archlinux.org/index.php/Touchpad_Synaptics#Using_syndaemon
  if which syndaemon >/dev/null && [ -x $(which syndaemon) ]
  then
    # Disable touchpad taps / scrolls for 0.2s after each non-modifier keypress.
    # This seems, empirically, like a pretty good balance between concerns.
    syndaemon -d -i 0.2  -t -K -R
  fi
  # Yet another possible solution: set TapButton{1,2,3} to 0, disabling taps.
  # That seems to be the main issue that I'm getting :-/
fi

# Set background
feh  --bg-fill "$HOME/secrets/wallpaper/_DSC4583.NEF.jpg"

if ! which gnome-screensaver-command >/dev/null
then
  xscreensaver -no-splash &
fi

if ! which redshift >/dev/null
then
  nohup redshift & disown
fi
