! Hey, cool guide: http://www.in-ulm.de/~mascheck/X11/XTerm
! *foreground: rgb:b2/b2/b2
! *background: rgb:08/08/08

! Use Solarized-dark palette:
#include "solarized/xresources/Xresources.dark"
! /etc/X11/Xresources/x11-common adds *customization: -color if COLOR is
! defined. For some reason, that disables the above scheme. 
! Unset it and clear the property.
#undef COLOR
*customization:

*selectToClipboard: true

! While experimenting with urxvt, disable scrollbar.
URxvt*scrollBar: false

! This is nice, but does not have mappings for the bouncing dots.
! Fix one or the other.
! *faceName: Anonymous Pro:size=8:antialias=false
! *faceName: mono:size=8:antialias=false

! These are nice, but make irssi look horrible.
! http://sunaku.github.io/zenburn-terminal-color-scheme.html
! via https://wiki.mpich.org/mpich/index.php/Configure_xterm_Fonts_and_Colors_for_Your_Eyeball

XTerm*metaSendsEscape: true

#ifdef CUSTOM_DPI
Xft.dpi: CUSTOM_DPI
#else
! Try out hi-dpi settings
! Xft.dpi: 120
! Setting for a Macbook
! Xft.dpi: 96
#endif

