! Hey, cool guide: http://www.in-ulm.de/~mascheck/X11/XTerm
#include "include/solarized/xresources/Xresources.dark"
*selectToClipboard: true
*faceName: Anonymous Pro
*faceSize: 11

! Try out hi-dpi settings
Xft.dpi: 120
